<h1>Eat Da Burger</h1>

<form>
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Enter your burger choice here">
  </p>
  <button id="addGame">Add Burger</button>
</form>